<div class="budget-nav clearfix">
  <h5 class="float-left"><%= @budget.name %></h5>
  <div class="float-right">
    <%= link to: budget_path(@conn, :edit, @budget.guid) do %>
      <button class="btn grey waves-effect waves-light">Budget Settings</button>
    <% end %>
  </div>
</div>

<div id="transactions-app"></div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var categories = <%= raw Poison.encode!(@categories) %>;
    var transactionTypes = <%= raw Poison.encode!(@transaction_types) %>;
    var budgetName = <%= raw Poison.encode!(@budget.name) %>;
    window.renderTransactionsApp(
      "transactions-app",
      <%= @budget.id %>,
      budgetName,
      <%= @budget.starting_balance %>,
      categories,
      transactionTypes
    );
  });
</script>
